.direnv
/build
tools/profiler
.cache
nohup.out
off.txt
FlameGraph
res*.svg
profile_profile*
wallclock_profile_pid*
tools/tests/test_combined
parca
cupti_trace_output.txt
merged_trace.folded
output.folded